<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="bootstrap-3.3.7-dist/js/jquery-3.3.1.min.js"></script>
	<script src="js/index.js"></script>

</head>

<body>
	<header class="main-header">
	</header>

	<nav class="navbar navbar-default text-center">
		<div class="navbar-collapse collapse ">
			<ul class="nav navbar-nav ">
				{%if FL=='' %}
				<li class="active"><a href="/">首页</a></li>
				{%else%}
				<li><a href="/">首页</a></li>
				{%endif%}

				{%for data in datas%}

				{%if FL==data.id%}
				<li class="active" role="presentation"><a href="/?FL={{data.id}}">{{data.name}}</a></li>
				{%else%}
				<li role="presentation"><a href="/?FL={{data.id}}">{{data.name}}</a></li>
				{%endif%}

				{%endfor%}
			</ul>
		</div>
	</nav>

	<section class="content-wrap">
		<div class="container">
			<div class="row">
				<main class="col-md-8">
					{% block content %}{% endblock %}

				</main>
				<aside class="col-md-4">
					{% if userInfo %}
					<div class="info" id="userinfo">
						<h3 class="title">用户信息</h3>
						<p><span class="username">{{ userInfo.username }}</span></p>
						{% if userInfo.isAdmin %}
						<p>
							<span class="userinfo text-info">你好，管理员！</span>
							<a href="/admin">进入管理</a>
						</p>
						{%else%}
						<p><span class="userinfo text-info">你好，欢迎光临我的博客！</span></p>
						{%endif%}
						<p><a class="exit" id="logout">退出</a></p>

					</div>
					{% else %}
					<div class="info mylogin" id="loginbox">
						<h3 class="title">登录</h3>
						<form action="" class="form-horizontal">
							<div class="form-group">
								<label for="inputname" class="col-sm-3 control-label">用户名</label>
								<div class="col-sm-8">
									<input type="text" name="username" class="form-control" id="inputname">
								</div>
							</div>
							<div class="form-group">
								<label for="inputpassword" class="col-sm-3 control-label">密码</label>
								<div class="col-sm-8">
									<input type="password" name="password" class="form-control" id="inputpassword">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-8">
									<button type="button" class="mybtn btn btn-info">登录</button>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-8">
									<span class="reginfo">还没注册？<a href="javascript:;">马上注册</a></span>
								</div>
							</div>
							<p class="text-danger small text-center warning "></p>
						</form>
					</div>
					<div class="info myregister" id="registerbox">
						<h3 class="title">注册</h3>
						<form action="" class="form-horizontal">
							<div class="form-group">
								<label for="inputname" class="col-sm-3 control-label">用户名</label>
								<div class="col-sm-8">
									<input type="text" name="username" class="form-control" id="reinputname">
								</div>
							</div>
							<div class="form-group">
								<label for="inputpassword" class="col-sm-3 control-label">密码</label>
								<div class="col-sm-8">
									<input type="password" name="password" class="form-control" id="reinputpassword">
								</div>
							</div>
							<div class="form-group">
								<label for="inputright" class="col-sm-3 control-label">确认</label>
								<div class="col-sm-8">
									<input type="password" name="repassword" class="form-control" id="inputright">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-8">
									<button type="button" class="mybtn btn btn-success">注册</button>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-8">
									<span class="reginfo">已经注册？<a href="javascript:;">马上登录</a></span>
								</div>
							</div>
							<p class="text-danger small text-center warning "></p>
						</form>
					</div>
					{% endif %}
				</aside>
			</div>
		</div>
	</section>

</body>

</html>